body {
    background-image: url('../web-images/duck1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Arrange content in a column */
}
.content{
    margin-top: 5%;
    text-align: center;
    background-color: whitesmoke;
    padding-left:20px;
    padding-right:20px;
    padding-top:40px;
    padding-bottom:40px;
    border: aquamarine solid 10px;
    border-radius: 10%;
}
.button {
    background-color: black;
    border: none;
    color: whitesmoke;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.button-red {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.button-clear {
    background-color: transparent;
    border: black;
    color: transparent; /* Make text invisible */
    padding: 10px 30px;
    font-size: 35px;
    cursor: pointer;
    position: right top; 
    width: 100px; 
    height: 50px;
}
.button-clear:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slight highlight on hover if needed */
}
.textbox {
    padding: 10px;
    font-size: 25px;
    border: 2px solid #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.paragraph {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
